# Auto detect text files and perform LF normalization
* text=auto

# Exclude demo project and dev files from `git archive` (e.g. GitHub ZIP downloads).
# Only the addons/ plugin folder will be included in the downloaded archive.
.gitattributes export-ignore
.gitignore export-ignore
LICENSE export-ignore
README.md export-ignore
manage_user_data_plugin/.editorconfig export-ignore
manage_user_data_plugin/.gitattributes export-ignore
manage_user_data_plugin/.gitignore export-ignore
plugin_icon.svg export-ignore
screenshot_1.png export-ignore
screenshot_2.png export-ignore
screenshot_3.png export-ignore
manage_user_data_plugin/icon.svg export-ignore
manage_user_data_plugin/icon.svg.import export-ignore
manage_user_data_plugin/main.gd export-ignore
manage_user_data_plugin/main.gd.uid export-ignore
manage_user_data_plugin/main.tscn export-ignore
manage_user_data_plugin/project.godot export-ignore
